# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat

# Go specific
gensokyo.exe
gsk.exe
gensokyo-linux-*
*.exe
*.upx

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

# ignore data
data/

# ignore IDE settings
.idea/
.vscode/

# ignore external workflow file
.github/workflows/build.yml
Processor/sensitive_words_in.txt
Processor/sensitive_words_out.txt
Processor/white.txt
